<section class="row">
	
	<div class="col-sm-4 col-sm-offset-4">

		<h2>Login</h2>

		<%= form_tag session_path do %>
			<div class="form-group">
				<%= label_tag :email %><br />
				<%= text_field_tag :email, params[:email], class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= label_tag :password %><br />
				<%= password_field_tag :password, nil, class: 'form-control'%>
			</div>
			<div class="form-group">
				<%= submit_tag "Login", class: 'btn btn-primary' %>
			</div>
		<% end %>		

	</div>

</section>