<!DOCTYPE html>
<html ng-app="djello">
<head>
  <title>ProjectDjello</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= bootstrap_flash %>

<%= nav_bar :fixed => :top, :responsive => :true, :brand => "Djello", :brand_link => root_path do %>
  
  <%= menu_group :pull => :right do %>
    <%= menu_text "Welcome, #{current_user.email}" if user_signed_in? %>
    <%= menu_item "logout", destroy_user_session_path, :method => :delete if user_signed_in? %>
  <% end %>

<% end %>

<%= yield %>

</body>
</html>
