<!DOCTYPE html>
<html>

<head>
  <title>Project Djello</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>


<body ng-app='djello'>

  <%= bootstrap_flash %>

  <%= nav_bar :fixed => :top, :responsive => :true,
              :brand => "Djello", :brand_link => root_path do %>

    <%= menu_group :pull => :right do %>
      <%= menu_text "Welcome, #{current_user.email}!" %>
      <%= menu_item "logout", destroy_user_session_path, :method => :delete %>
    <% end %>

  <% end %>

  <!-- need a spacer -->


  <%= yield %>

</body>

</html>
