<!DOCTYPE html>
<html>
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title>ProjectDjello</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

   <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body <%= content_for :angular_controller %> >

  <% if current_user %>
    <nav class="navbar navbar-inverse"><span class="nav-brand white">Logged in as <%=current_user.email%></span><span class="btn btn-default"><%= link_to "Log out", destroy_user_session_path, method: "DELETE" %> </span> </nav>
  <% end %>

  <main class="container">
    <div class="row">
      <% flash.each do |type, message| %>
        <div class="alert alert-info"><%= message %></div>
      <% end %>


      <%= yield %>
    </div>
  </main>

</body>
</html>
